.chart-section {
  display: flex;
  flex-wrap: wrap;
}

.barchart {
  width: 350px;
  height: 350px;
  padding: 5%;
  margin: 20% auto 10% auto;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recharts-surface {
  cursor: pointer;
}
