.header-banner {
  display: flex;
}

.banner-error {
  display: flex;
  background-color: #f15c64;
  max-height: 50px;
  width: 100%;
  margin: 40px 0 0 0;
}

.banner-error p {
  padding: 2px 10px 0 10px;
}

.banner-error h2 {
  padding: 2px 10px 0 10px;
}

.logo {
  margin: -25px 0 0 10px;
  z-index: 1;
  height: 150px;
}
