.logo {
  margin: -30px 0 0 10px;
  z-index: 1;
  height: 150px;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.banner-error {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #f15c64;
  max-height: 50px;
  width: 100%;
  margin: 40px 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.banner-text {
  padding: 13px 0 13px 0;
  width: 200px;
  text-align: center;
}

.banner-text p {
  font-family: CircularStd-Black;
}

.text {
  font-weight: 400;
  color: #fff;
}

.blink {
  display: block;
  font-weight: 400;
  color: #fff;
  animation: blink 1s linear;
  animation-iteration-count: 3;
}

.hidden {
  display: none;
}

@keyframes blink {
    0%  {
      opacity: 0;
    }
    50%  {
      opacity: .5;
    }
    100%{
      opacity: 1;
    }
}

.resolve-btn {
  margin: 1%;
  border: 1px solid #fff;
  background-color: #f15c64;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.resolve-btn p {
  font-family: CircularStd-Black;
  font-size: 1.25em;
  color: #fff;
  text-decoration: none;
}

.resolve-btn a {
  text-decoration: none;
}

.resolve-btn:hover {
  border: 1px solid #fff;
  background-color: #f26c73;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resolve-btn p:hover {
  font-size: 1.25em;
  padding: 2%;
}

.resolve-btn a:hover {
  text-decoration: none;
}
