@font-face {
font-family: CircularStd-Black;
src: url("./fonts/CircularStd-Black.otf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #6fd2c6;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: CircularStd-Black;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.625em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.125em;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  margin: 0;
  font-size: 1em;
  line-height: 1.25em;
}
