@font-face {
font-family: CircularStd-Black;
src: url("./fonts/CircularStd-Black.otf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #6fd2c6;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: CircularStd-Black;
  color: #202327;
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.625em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.125em;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #202327;
  margin: 0;
  font-size: 1em;
  line-height: 1.25em;
}

/* tablet media query */
@media (min-width: 768px ) {
  .barchart {
    margin: 10% auto 20% auto;
  }

  .dayview-container {
    margin-top: 10%;
  }

  .resolve-btn {
    margin: 1% 1% 1% 40%;
  }

  .banner-text {
    text-align: center;
  }

  .banner-error {
    justify-content: center;
  }
}
/*  desktop media query */
@media (min-width: 1024px) {
  p, a {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.625em;
  }

  .banner {
    justify-content: space-between;
  }

  .resolve-btn {
    padding: 5px 15px 24px 15px;
    margin: 1% 1% 1% 50%;
  }

  .resolve-btn p {
    font-size: 1.25em;
  }

  .resolve-btn:hover {
    padding: 5px 15px 24px 15px;
    margin: 1% 1% 1% 60%;
  }

  .resolve-btn p:hover {
    font-size: 1.25em;
  }

  .barchart {
    margin: 10% auto 20% auto;
    height: 450px;
    width: 45%;
  }

  .dayview-container {
    height: 450px;
    width: 45%;
  }

  .recharts-surface {
    height: 400px;
    width: 115%;
  }
  .dayview-box {
    height: 400px;
    width: 90%;
  }
}

/* desktop media query */
@media (min-width: 1280px) {
  p, a {
    font-size: 1.625em;
  }

  h3 {
    font-size: 2em;
  }

  .banner {
    justify-content: space-around;
    margin: 50px auto;
    height: auto;
  }

  .banner-error {
    max-height: 75px;
  }

  .banner-text {
    padding: 19px 0 13px 0px;
    width: 300px;
  }

  .logo {
    height: 250px;
    margin: -59px 0 0 20px;
  }

  .resolve-btn {
    text-align: center;
  }

}
